.video {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  min-width: 100vw;
}

.wrapper {
  position: relative;
}

.player {
  width: 120px;
  height: 120px;
  background-image: url("/assets/play.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  background-color: transparent;
  border-color: transparent;
  position: absolute;
  inset: 0;
  margin: auto;
}

.hidden {
  opacity: 0;
}

.actions { 
  position: absolute;
  bottom: 200px;
  left: 50px;
  z-index: 1;
}

.action {
  transform: scale(.1);
  background: transparent;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 15px;
  text-align: center;
  align-items: center;
}

.album {
  animation: rotate 4s infinite linear;
  background: url('/assets/album.svg');
  width: 48px;
  height: 48px;
  display: flex;
}

.albumCover {
  width: 32px;
  height: 32px;
  border-radius: 100%;
  overflow: hidden;
}

.description {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  padding: 20px;
  color: #fff;
  justify-content: space-between;
  font-size: 13px;
  background: linear-gradient(0deg, rgba(0,0,0,0.9485294117647058) 20%, rgba(255,255,255,0.10049019607843135) 100%);
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

